@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
* {
  text-align: center;
  font-family: "Langar", cursive;
}

.present {
  background-color: aqua;
}

.number {
  background-color: yellowgreen;
}

.number h3 {
  font-size: 50px;
}

.number #pogodiBroj {
  margin: 10px;
  width: 30%;
  height: 50px;
  border: solid 4px;
  border-radius: 30px;
  padding: 30px;
  font-size: 30px;
}

.number button {
  border-radius: 50px;
  border: solid 4px;
  background-color: blueviolet;
  color: aquamarine;
  padding: 15px;
  font-size: 50px;
  margin: 20px;
}

.calculator {
  background-color: cornflowerblue;
  height: 1200px;
}

.calculator .headline {
  text-align: center;
}

.calculator .headline .naslov {
  width: 100%;
  font-size: 80px;
  color: #151781;
}

.calculator .main-calc {
  margin-bottom: 500px;
}

.calculator .main-calc .displ {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30%;
      grid-template-columns: auto 30%;
  width: 30%;
  margin: auto;
}

.calculator .main-calc .displ #dis {
  margin: 10px;
  width: 100%;
  height: 50px;
  border: solid 4px;
  border-radius: 30px;
  padding: 30px;
  font-size: 50px;
}

.calculator .main-calc .displ #dis p {
  margin: 5px;
}

.calculator .main-calc .displ #polje {
  margin: 10px;
  width: 100%;
  height: 50px;
  border: solid 4px;
  border-radius: 30px;
  padding: 30px;
  font-size: 30px;
}

.calculator .main-calc .displ button {
  border-radius: 50px;
  border: solid 4px;
  background-color: blueviolet;
  color: aquamarine;
  padding: 15px;
  font-size: 50px;
  margin: 20px;
}

.calculator .main-calc .displ #dis-btn {
  background-color: teal;
  color: cornsilk;
  padding: 40px;
}

.calculator .main-calc .btn-num {
  margin: auto;
  width: 30%;
  height: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-row: auto auto auto auto;
  grid-gap: 6px;
}

.calculator .main-calc .btn-num button {
  border-radius: 50px;
  padding: 15px;
  font-size: 30px;
  border: solid 5px;
}

.calculator .main-calc .btn-num #jedan {
  background-color: blueviolet;
  color: cornsilk;
}

.calculator .main-calc .btn-num #dva {
  background-color: #da54ad;
  color: cornsilk;
}

.calculator .main-calc .btn-num #tri {
  background-color: #38e65e;
  color: cornsilk;
}

.calculator .main-calc .btn-num #cetiri {
  background-color: #df791a;
  color: cornsilk;
}

.calculator .main-calc .btn-num #pet {
  background-color: #200763;
  color: cornsilk;
}

.calculator .main-calc .btn-num #sest {
  background-color: #34bfd1;
  color: cornsilk;
}

.calculator .main-calc .btn-num #sedam {
  background-color: #a70b4c;
  color: cornsilk;
}

.calculator .main-calc .btn-num #osam {
  background-color: #52ce58;
  color: cornsilk;
}

.calculator .main-calc .btn-num #devet {
  background-color: #bd42bd;
  color: cornsilk;
}

.calculator .main-calc .btn-num #nula {
  background-color: #cfc421;
  color: cornsilk;
}

.calculator .main-calc .btn-num #plus {
  background-color: #74183e;
  color: cornsilk;
}

.calculator .main-calc .btn-num #minus {
  background-color: #3c6319;
  color: cornsilk;
}

.calculator .main-calc .btn-num #puta {
  background-color: #101661;
  color: cornsilk;
}

.calculator .main-calc .btn-num #podeljeno {
  background-color: peachpuff;
  color: cornsilk;
}
/*# sourceMappingURL=style.css.map */