@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

* {
  text-align: center;
  font-family: "Langar", cursive;
}
body {
  background-color: blueviolet;
}
.present-div {
  height: 650px;
  background: rgb(42, 204, 246);
  background: radial-gradient(
    circle,
    rgba(42, 204, 246, 1) 0%,
    rgba(8, 69, 164, 1) 100%
  );
  color: goldenrod;
  h1 {
    font-size: 50px;
  }
  .present {
    width: 410px;
    padding: 150px;
    margin: 0 auto;
  }
  .box,
  .lid {
    background: -webkit-radial-gradient(white 15%, transparent 15.1%),
      -webkit-radial-gradient(white 15%, transparent 15.1%), rgb(240, 58, 58);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    position: relative;
    margin: 0 auto;
  }
  .box {
    width: 400px;
    height: 250px;
  }
  .lid {
    width: 400px;
    height: 70px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0 2px;
    background-color: rgb(216, 52, 52);
    /* transitions */
    top: 0;
    left: 0;
    transition: top ease-out 0.5s, left ease-out 0.5s, transform ease-out 0.5s;
  }
  .box span,
  .lid span {
    position: absolute;
    display: block;
    background: rgba(235, 199, 0, 0.8);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  }
  .box span:first-child {
    width: 100%;
    height: 60px;
    top: 80px;
  }
  .box span:last-child,
  .lid span {
    width: 60px;
    height: 100%;
    left: 170px;
  }
  .lid span {
    left: 172px;
  }
  .promo {
    font-size: 30px;
    color: gold;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    position: relative;
    height: 0;
    top: 10px;
    transition: all ease-out 0.7s;
  }
  .promo p {
    font-size: 24px;
    margin: 0;
  }
  .promo h2 {
    font-size: 40px;
    margin: 0;
  }

  /* hover effects */
  .present:hover .lid {
    top: -100px;
    transform: rotateZ(10deg);
    left: 10px;
  }
  .present:hover .promo {
    top: -80px;
  }
}
//pogodi broj
.number {
  background-color: yellowgreen;
  h3 {
    font-size: 50px;
  }
  #pogodiBroj {
    margin: 10px;
    width: 30%;
    height: 50px;
    border: solid 4px;
    border-radius: 30px;
    padding: 30px;
    font-size: 30px;
  }
  button {
    border-radius: 50px;
    border: solid 4px;
    background-color: blueviolet;
    color: aquamarine;
    padding: 15px;
    font-size: 50px;
    margin: 20px;
  }
}
//calculator
.calculator {
  background-color: cornflowerblue;
  height: 1200px;
  .headline {
    text-align: center;
    .naslov {
      width: 100%;
      font-size: 80px;
      color: rgb(21, 23, 129);
    }
  }
  .main-calc {
    margin-bottom: 500px;

    .displ {
      display: grid;
      grid-template-columns: auto 30%;
      width: 30%;
      margin: auto;

      #dis {
        margin: 10px;
        width: 100%;
        height: 50px;
        border: solid 4px;
        border-radius: 30px;
        padding: 30px;
        font-size: 50px;
        p {
          margin: 5px;
        }
      }
      #polje {
        margin: 10px;
        width: 100%;
        height: 50px;
        border: solid 4px;
        border-radius: 30px;
        padding: 30px;
        font-size: 30px;
      }
      button {
        border-radius: 50px;
        border: solid 4px;
        background-color: blueviolet;
        color: aquamarine;
        padding: 15px;
        font-size: 50px;
        margin: 20px;
      }
      #dis-btn {
        background-color: teal;
        color: cornsilk;
        padding: 40px;
      }
    }
    .btn-num {
      margin: auto;

      width: 30%;
      height: 250px;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-row: auto auto auto auto;
      grid-gap: 6px;

      button {
        border-radius: 50px;
        padding: 15px;
        font-size: 30px;
        border: solid 5px;
      }

      #jedan {
        background-color: blueviolet;
        color: cornsilk;
      }
      #dva {
        background-color: rgb(218, 84, 173);
        color: cornsilk;
      }
      #tri {
        background-color: rgb(56, 230, 94);
        color: cornsilk;
      }
      #cetiri {
        background-color: rgb(223, 121, 26);
        color: cornsilk;
      }
      #pet {
        background-color: rgb(32, 7, 99);
        color: cornsilk;
      }
      #sest {
        background-color: rgb(52, 191, 209);
        color: cornsilk;
      }
      #sedam {
        background-color: rgb(167, 11, 76);
        color: cornsilk;
      }
      #osam {
        background-color: rgb(82, 206, 88);
        color: cornsilk;
      }
      #devet {
        background-color: rgb(189, 66, 189);
        color: cornsilk;
      }
      #nula {
        background-color: rgb(207, 196, 33);
        color: cornsilk;
      }
      #plus {
        background-color: rgb(116, 24, 62);
        color: cornsilk;
      }
      #minus {
        background-color: rgb(60, 99, 25);
        color: cornsilk;
      }
      #puta {
        background-color: rgb(16, 22, 97);
        color: cornsilk;
      }
      #podeljeno {
        background-color: peachpuff;
        color: cornsilk;
      }
    }
  }
}
