@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
* {
  text-align: center;
  font-family: "Langar", cursive;
}

body {
  background-color: blueviolet;
}

.present-div {
  height: 650px;
  background: #2accf6;
  background: radial-gradient(circle, #2accf6 0%, #0845a4 100%);
  margin: 10px;
  padding: 50px;
  /* hover effects */
}

.present-div h1 {
  color: goldenrod;
  font-size: 50px;
}

.present-div .present {
  width: 410px;
  padding: 150px;
  margin: 0 auto;
}

.present-div .box,
.present-div .lid {
  background: -webkit-radial-gradient(white 15%, transparent 15.1%), -webkit-radial-gradient(white 15%, transparent 15.1%), #f03a3a;
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  position: relative;
  margin: 0 auto;
}

.present-div .box {
  width: 400px;
  height: 250px;
}

.present-div .lid {
  width: 400px;
  height: 70px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0 2px;
  background-color: #d83434;
  /* transitions */
  top: 0;
  left: 0;
  -webkit-transition: top ease-out 0.5s, left ease-out 0.5s, -webkit-transform ease-out 0.5s;
  transition: top ease-out 0.5s, left ease-out 0.5s, -webkit-transform ease-out 0.5s;
  transition: top ease-out 0.5s, left ease-out 0.5s, transform ease-out 0.5s;
  transition: top ease-out 0.5s, left ease-out 0.5s, transform ease-out 0.5s, -webkit-transform ease-out 0.5s;
}

.present-div .box span,
.present-div .lid span {
  position: absolute;
  display: block;
  background: rgba(235, 199, 0, 0.8);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.present-div .box span:first-child {
  width: 100%;
  height: 60px;
  top: 80px;
}

.present-div .box span:last-child,
.present-div .lid span {
  width: 60px;
  height: 100%;
  left: 170px;
}

.present-div .lid span {
  left: 172px;
}

.present-div .promo {
  font-size: 30px;
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  position: relative;
  height: 0;
  top: 10px;
  -webkit-transition: all ease-out 0.7s;
  transition: all ease-out 0.7s;
}

.present-div .promo p {
  font-size: 24px;
  margin: 0;
}

.present-div .promo h2 {
  font-size: 40px;
  margin: 0;
}

.present-div .present:hover .lid {
  top: -100px;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
  left: 10px;
}

.present-div .present:hover .promo {
  top: -80px;
}

.number {
  background-color: yellowgreen;
  height: 600px;
  padding: 100px;
  margin: 10px;
}

.number h2 {
  font-size: 45px;
  color: aquamarine;
}

.number h3 {
  font-size: 40px;
  color: aquamarine;
}

.number #pogodiBroj {
  margin: 10px;
  width: 30%;
  height: 50px;
  border: solid 4px;
  border-radius: 30px;
  padding: 30px;
  font-size: 30px;
}

.number p {
  font-size: 40px;
  color: aqua;
}

.number button {
  border-radius: 50px;
  border: solid 4px;
  background-color: blueviolet;
  color: aquamarine;
  padding: 15px;
  font-size: 40px;
  margin: 20px;
}

.calculator {
  background-color: cornflowerblue;
  height: 1200px;
}

.calculator .headline {
  text-align: center;
}

.calculator .headline .naslov {
  width: 100%;
  font-size: 50px;
  color: #151781;
}

.calculator .main-calc {
  margin: 10px;
  margin-bottom: 500px;
  padding: 100px;
}

.calculator .main-calc .displ {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30%;
      grid-template-columns: auto 30%;
  width: 30%;
  margin: auto;
}

.calculator .main-calc .displ p {
  color: #151781;
  font-size: 30px;
}

.calculator .main-calc .displ #dis {
  margin: 10px;
  width: 100%;
  height: 50px;
  border: solid 4px;
  border-radius: 30px;
  padding: 30px;
  font-size: 50px;
}

.calculator .main-calc .displ #dis p {
  margin: 5px;
}

.calculator .main-calc .displ #polje {
  margin: 10px;
  width: 100%;
  height: 50px;
  border: solid 4px;
  border-radius: 30px;
  padding: 30px;
  font-size: 30px;
}

.calculator .main-calc .displ button {
  border-radius: 50px;
  border: solid 4px;
  background-color: blueviolet;
  color: aquamarine;
  padding: 15px;
  font-size: 50px;
  margin: 20px;
}

.calculator .main-calc .displ #dis-btn {
  background-color: teal;
  color: cornsilk;
  padding: 40px;
}

.calculator .main-calc .btn-num {
  margin: auto;
  width: 30%;
  height: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-row: auto auto auto auto;
  grid-gap: 6px;
}

.calculator .main-calc .btn-num button {
  border-radius: 50px;
  padding: 15px;
  font-size: 30px;
  border: solid 5px;
}

.calculator .main-calc .btn-num #jedan {
  background-color: blueviolet;
  color: cornsilk;
}

.calculator .main-calc .btn-num #dva {
  background-color: #da54ad;
  color: cornsilk;
}

.calculator .main-calc .btn-num #tri {
  background-color: #38e65e;
  color: cornsilk;
}

.calculator .main-calc .btn-num #cetiri {
  background-color: #df791a;
  color: cornsilk;
}

.calculator .main-calc .btn-num #pet {
  background-color: #200763;
  color: cornsilk;
}

.calculator .main-calc .btn-num #sest {
  background-color: #34bfd1;
  color: cornsilk;
}

.calculator .main-calc .btn-num #sedam {
  background-color: #a70b4c;
  color: cornsilk;
}

.calculator .main-calc .btn-num #osam {
  background-color: #52ce58;
  color: cornsilk;
}

.calculator .main-calc .btn-num #devet {
  background-color: #bd42bd;
  color: cornsilk;
}

.calculator .main-calc .btn-num #nula {
  background-color: #cfc421;
  color: cornsilk;
}

.calculator .main-calc .btn-num #plus {
  background-color: #74183e;
  color: cornsilk;
}

.calculator .main-calc .btn-num #minus {
  background-color: #3c6319;
  color: cornsilk;
}

.calculator .main-calc .btn-num #puta {
  background-color: #101661;
  color: cornsilk;
}

.calculator .main-calc .btn-num #podeljeno {
  background-color: #8b480d;
  color: cornsilk;
}

.pcs {
  background-color: orangered;
  color: yellowgreen;
  margin: 10px;
  padding: 100px;
}

.pcs .okvir {
  border: solid 20px yellowgreen;
  height: 600px;
  width: 600px;
  margin: auto;
}

.pcs .okvir img {
  height: 600px;
  width: 600px;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.pcs .okvir :hover {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

@media (max-width: 768px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */